.header__hamburger {
    cursor: pointer;
    padding: 30px 20px;
    display: inline-block;
}

.header__hamburger .header__bar {
    background-color: $myBlack;
    height: 3px;
    width: 32px;
    display: block;
    position: relative;
    border-radius: 10px;
}

.header__hamburger .header__bar:after, 
.header__hamburger .header__bar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    background-color: $myBlack;
    height: 3px;
    width: 32px;
    display: block;
    border-radius: 10px;
    transition: all ease 0.4s;
}

.header__hamburger .header__bar:before {
    top: -7px;
}

// OPENS UP
.active .header__hamburger .header__bar {
	background-color: transparent;
}

.active .header__hamburger .header__bar:before {
	transform: rotate(-45deg);
	top: 0;
}
.active .header__hamburger .header__bar:after {
	transform: rotate(45deg);
	top: 0;
}
  