$myBlue:#67BDFF;
$myBlack: #0A0A0A;
$myWhite: #fff;
$myCadet: #17183B;
$myYellow: #FFE554;
$myLightGray:#C4C4C4;
$myGray: rgb(66,66,66);


// COLORS
$sora:"Sora";
$soraMedium:"SoraMedium";
$soraBold:"SoraBold";


// MEDIA QUERY
$tablet: 1140px;
$mobile: 820px;
$desktop: 1140px;