.about {
    padding-bottom: 60px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    @include mobile {
        align-items: flex-start;
        flex-direction: column;
    }
}

.about__img-wrapper {
    flex-basis: 50%;
    position: relative;
    .about__img {
        height: 420px;
        transform: scaleX(-1);
    }
}

.about__text-wrapper {
    flex-basis: 50%;
    @include mobile {
        font-size: 16px;
    }
}

.about__box-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    .about__counter {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 45px;
    }
    .about__counter-desc {
        color: $myLightGray;
    }
}

