.about {
    padding-bottom: 60px;
}

.about__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    @include mobile {
        align-items: flex-start;
        flex-direction: column;
    }
}

.about__img-wrapper {
    flex-basis: 50%;
    position: relative;
    .about__img {
        height: 420px;
    }
}

.about__text-wrapper {
    flex-basis: 50%;
    @include mobile {
        font-size: 16px;
    }
}


