.contact__content {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .contact__text {
        width: 60%;
        line-height: 2;
        color: $myGray;
        text-align: center;
        padding: 20px;
        background-color: rgba($myLightGray, $alpha: 0.4);
        border-radius: 25px;
    }
}

.contact__btn,
.contact__btn:visited {
    border-radius: 10px;
    padding: 15px 32px;
    background-color: $myYellow;
    cursor: pointer;
    font-family: $soraBold;
    font-size: 18px;
    color: $myGray; 
    border: 1px solid $myGray;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.4s ease;
    &:hover {
        @include desktop {
            border-radius: 50%;
            padding: 15px;
        }
    }
}

.contact__social {
    .contact__link,
    .contact:visited {
        display: inline-block;
        font-size: 60px;
        color: $myGray;
        margin-right: 20px;
        &:hover {
            @include desktop {
                opacity: 0.6;
            }
        }
        @include mobile {
            font-size: 35px;
        }
    }
}

.gmail {
    position: relative;
    animation: show .5s;
    animation-fill-mode: backwards;
    &.copingMail::before {
        content: "Copied my mail";
        display: block;
        position: absolute;
        top: 0;
        transform: translateY(-70%);
        width: max-content;
        font-size: 14px;
        background-color: $myBlue;
        color: $myWhite;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }
    &.copingMail::after {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid $myBlue;
        border-width: 0 5px 5px 0;
        padding: 2px;
        top: 0;
        transform: rotate(45deg) translateY(100%);
    }
}