.contact {
    padding-bottom: 60px;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    .contact__img {
        width: 30%;
        height: 300px;
        padding-right: 10px;
        position: absolute;
        top: 0;
        left: 15%;
        z-index: -1;
        @include mobile {
            width: 25%;
            top: 2%;
            left: 5%;
            height: 200px;
        }
        @include mobileSmall {
            width: 30%;
        }
        @include mobileAstro {
            top: 19%;
            height: 180px;
        }
    }
    .contact__text {
        width: 70%;
        line-height: 2;
        color: $myGray;
        text-align: center;
        padding: 20px;
        border: 2px solid #5a4366;
        background-color: $myWhite;
        border-radius: 100px;
        @include tablet {
            width: 90%;
        }
        @include mobile {
            width: 100%;
            padding: 10px 14px;
            border-radius: 20px;
            font-size: 16px;
        }
        @include mobileSmall {
            padding: 10px;
            font-size: 14px;
        }
    }
}

.contact__social {
    position: relative;
    display: inline-block;
    &.copingMail::after {
        content: "Copied my mail";
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%, -100%);
        width: max-content;
        font-size: 14px;
        background-color: $myBlue;
        color: $myWhite;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        @include mobileSectionHeading {
            left: 90%;
            font-size: 14px;
            padding: 7px;
        }
    }
    &.copingMail::before {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid $myBlue;
        border-width: 0 5px 5px 0;
        padding: 2px;
        top: 0;
        left: 90%;
        transform: rotate(45deg) translateY(-100%);
    }
}

.social {
    margin-top: 40px;
}

.contact__btn,
.contact__btn:visited {
    border-radius: 10px;
    padding: 15px 32px;
    background-color: transparent;
    cursor: pointer;
    font-family: $soraBold;
    font-size: 18px;
    color: $myGray; 
    border: 1px solid $myGray;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    @include mobile {
        font-size: 16px;
        padding: 12px 18px;
    }
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        border-radius: 10px;
        background-color: $myYellow;
        transition: .4s;
    }
    &:hover::before {
        @include desktop {
            width: 100%;
        }
    }
    &:active {
        transform: translateY(1px);
    }
}

.contact__link,
.contact:visited {
    display: inline-block;
    font-size: 60px;
    color: $myGray;
    margin-right: 20px;
    transition: transform .2s;
    &:hover {
        @include desktop {
            transform: scale(1.1) rotate(20deg);
        }
    }
    &:active {
        transform: scale(1) rotate(0);
    }
    @include mobile {
        font-size: 48px;
    }
}

