.development {
    padding-bottom: 60px;
}

.development__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 20px;
    @include mobile {
        flex-direction: column-reverse;
    }
    .development__wrapper:first-child {
        flex-basis: 45%;
    }
    .development__wrapper:last-child {
        flex-basis: 55%;
    }
}

.developemnt__box:not(:last-child) {
    padding-bottom: 40px;
}

.developemnt__box {
    padding-left: 25px;
    .development__box-subheading {
        font-size: 30px;
        font-family: $soraBold;
        margin-bottom: 3px;
        color: $myGray;
        @include tablet {
            font-size: 26px;
        }
        @include mobile {
            font-size: 23px;
        }
    }
    .development__box-college {
        font-size: 20px;
        color: $myLightDarkGray;
        display: block;
        font-family: $soraBold;
        @include tablet {
            font-size: 18px;
        }
    }
    .development__box-city {
        display: inline-block;
        color: $myLightGray;
        margin-bottom: 12px;
        font-size: 16px;
        @include mobile {
            margin-bottom: 12px;
        }
    }
    .development__box-text {
        line-height: 1.7;
        @include mobile {
            line-height: 1.4;
            font-size: 16px;
        }
    }
}

.development__item {
    line-height: 2;
    @include mobile {
        font-size: 16px;
    }
}

.timeline {
    position: relative;
    &.fulling::before {
        animation: lineLoading 6s;
        animation-fill-mode: backwards;
        bottom: 0;
    }
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 3px;
        top: 0;
        left: 0;
        right: 0;
        background-color: $myBlue;
    }
}

.circle {
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-150%);
        width: 25px;
        height: 25px;
        background-color: $myWhite;
        border-radius: 50%;
        border: 5px solid $myBlue;
        z-index: 100;
    }
}


