.header {
    background-color: $myBlue;
    .header__container {
        padding-top: 8px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
.header__logo {
    width: 200px;
    height: 60px;
    @include mobile {
        width: 140px;
    }
}

.active .header__nav {
    right: 0;
}

.header__nav {
    @include tablet {
        transition: right .8s ease;
        padding: 40px 0;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 100;
        height: 100%;
        width: 60%;
        background-color: $myWhite;
        @include mobile {
            width: 100%;
            padding: 35px 0;
        }
    }
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    @include tablet {
        flex-direction: column;
        gap: 30px;
    }
    &::before {
        @include desktop {
            @include headerLineLeft;
        }
    }
    &::after {
        @include desktop {
            @include headerLineRight;
        }
    }
}

.header__link,
.header__list:visited {
    color: $myWhite;
    text-transform: lowercase;
    position: relative;
    &:hover:after {
        @include desktop {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 3px;
            background-color: $myYellow;
            animation: headerBorder 0.4s;
        }
    }
    &:first-child {
        margin-left: 20px;
    }
    &:last-child {
        margin-right: 20px;
    }
    @include tablet {
        color: $myGray;
    }
}

.header__hamburger {
    display: none;
    @include tablet {
        z-index: 100;
        display: inline-block;
    }
}