.main {
    background-color: $myWhite;
    padding: 60px 0;
    @include mobile {
        padding: 20px 0;
    }
    .main__container {
        display: flex;
        @include mobile {
            flex-direction: column;
            gap: 30px;
            justify-content: center;
        }
    }
}

.main__content {
    flex-basis: 40%;
    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

.main__heading {
    flex-basis: 60%;
    color: $myGray;
    font-size: 52px;
    @include tablet {
        font-size: 40px;
    }
    @include mobile {
        font-size: 34px;
    }
    .main__space {
        display: block;
    }
    .main__hello {
        font-size: 35px;
        @include tablet {
            font-size: 28px;
        }
        @include mobile {
            font-size: 24px;
        }
    }
}

.job {
    font-weight: bold;
    color: $myBlue;
    position: relative;
}

.main__btn {
    transition: all 0.4s ease-out;
    &:hover{
        @include desktop {
            transform: translateY(-10px);
            box-shadow: 0 5px 10px rgba($myBlack, 0.6);
        }
    }
}

.main__btn:active {
    transform: translateY(0);
}

.main__picture {
    width: 70%;
    height: 400px;
    border-radius: 0% 100% 26% 74% / 67% 4% 96% 33%;
    animation: .7s appering;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}

.body.body--scrollDisabled .end {
    animation: none;
}

.blink {
    animation: blinker 1s linear infinite;
    display: inline-block;
    width: 5px;
    height: 70%;
    position: absolute;
    top: 50%;
    right: -2%;
    transform: translateY(-50%);
    background-color: $myBlue;
}

